version: '3'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - app-network


  nginx-proxy:
    image: nginx:alpine
    ports:
      - "80:8080"
    volumes:
      - ./nginx/proxy.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app-network
    depends_on:
      - app

networks:
  app-network:
    driver: bridge 